<div class=" rounded bg-gray-100 divide-y-4 divide-red-500 w-[800px] h-[700px]">
  <div>
    <h1 class="text-center p-2">Добавление Категории/Подкатегории</h1>
  </div>
  <div class="w-full h-screen">
    <div class="justify-center flex">
      <div class="h-[400px] w-[400px] justify-center flex mt-5">
        <ag-grid-angular
          id="gridId"
          style="width: 350px; height: 350px;"
          class="ag-theme-alpine"
          [columnDefs]="columnCategoryDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData$ | async"
          [rowSelection]="'multiple'"
          [animateRows]="true"
          (gridReady)="onCategoryGridReady($event)"
          (rowClicked)="onRowCatClicked($event)"
        >
        </ag-grid-angular>
      </div>
      <div class="h-[400px] w-[400px] justify-center flex mt-5">
        <ag-grid-angular
          id="gridId2"
          style="width: 350px; height: 350px;"
          class="ag-theme-alpine"
          [columnDefs]="columnSubCategoryDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="rowData2$ | async"
          [rowSelection]="'multiple'"
          [animateRows]="true"
          (gridReady)="onSubCategoryGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
    <div class="mb-6 ml-5">
      <app-input [(value)]="CategoryProduct" [placeholderValue]="'Введите Категория'" id="inputId">{{CategoryProduct}}</app-input>
    </div>
    <div class="mb-6 ml-5">
      <app-input [(value)]="SubCategoryProduct" id="inputId2">{{'Введите Подкатегорию'}}</app-input>
    </div>
    <div class="ml-2.5">
      <app-button (click)="addCategoryOrSubCategory()" [value]="'Добавить'"></app-button>
    </div>
  </div>
</div>
